body {
  background: rgb(119, 251, 99);
  background: linear-gradient(
    90deg,
    rgba(119, 251, 99, 1) 0%,
    rgba(13, 195, 3, 0.8464635854341737) 100%
  );
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.formContainer form {
  background-color: rgb(249, 247, 247);
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.4);
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

button {
  background-color: #33cd2a;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #11910b;
}

.errorMsg {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.msgOK {
  color: green;
}
